<form action="/new-show" method="post">
{{!-- label FOR must match input NAME, and must match Model type!!! --}}
{{!-- the imgURL must end with jpeg --}}
    <label for="title">U.S. Most Popular Shows</label>
    <input type="text" id="name-popular-shows-us" name="title" required>
    <br>
    <label for="image">ImageURL</label>
    <input type="text" id="image-popular-shows-us" name="image">
    <button type="submit">Submit a New Show</button>
</form>