* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: white;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #400000;
  padding: 2.5rem;
}

h2 {
  font-weight: 100;
}

a:visited {
  color: #ffb545;
}

.hero {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.margin-top {
  margin-top: 60px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 28vw;
  float: left;
}

.item-container {
  display: block;
  padding: 1vw;
  margin: 0.5vw;
  background-color: #4c1211;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: auto;
max-width: 400px;
  padding: 0 10px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: 225px;
}

.item-img-detail {
  height: 550px;
}

.btn {
  display: inline-block;
  background-color: #203354;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  padding: 6px 28px;
  margin: 5px;
  box-shadow: 1px #d3d3d3;
}

label,
select {
  font-size: 1em;
}

.navbar-wrapper {
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #835c3b;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 14px;
  height: auto;
}

.logo-div {
  line-height: normal;
  margin: auto 5em;
}

.logo-text {
  width: auto;
  height: 1.5rem;
  color: black;
}

/* Dropdown */
.dropdown-shows-container {
  position: relative;
  display: inline-block;
  margin: auto 8em;
}

.dropdown-btn {
  width: auto;
  background-color: transparent;
  color: white;
  padding: auto 5em;
  font-size: 16px;
  border: none;
  text-align: center;
  white-space: nowrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
}

.dropdown-shows-container:hover .dropdown-content {
  display: block;
}

.dropdown-shows-container:hover .dropdown-btn {
  color: #152238;
}

.btn:hover {
  background-color: #152238;
}

@media only screen and (max-width: 700px) {
  .block {
    width: 80vw;
    float: left;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .item-img {
    width: 100%;
  }
}
